    <section class="about-section">
        <div class="container">
            <div class="about-wrapper mt-100 padding-top">
                <div class="row">
                    <div class="col-lg-7 col-xl-6">
                        <div class="about-content">
                            <h4 class="subtitle">About Us</h4>
                            <h2 class="title"><span class="d-block">OVER 60</span> YEARS EXPERIENCE</h2>
                            <p>Innovation have made us leaders in auctions platform</p>
                            <div class="item-area">
                                <div class="item">
                                    <div class="thumb">
                                        <img src="/img/about/about-01.png" alt="about">
                                    </div>
                                    <p>award-winning team</p>
                                </div>
                                <div class="item">
                                    <div class="thumb">
                                        <img src="/img/about/about-02.png" alt="about">
                                    </div>
                                    <p>AFFILIATIONS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-thumb">
                    <img src="/img/about/about-bg.png" alt="about">
                </div>
            </div>
        </div>
    </section>

    <div class="counter-section padding-top mt-10">
        <div class="container">
            <div class="row justify-content-center mb-30-none">
                <div class="col-sm-6 col-lg-3">
                    <div class="counter-item">
                        <h3 class="counter-header">
                            <span class="title counter">62</span><span class="title">M</span>
                        </h3>
                        <p>ITEMS AUCTIONED</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="counter-item">
                        <h3 class="counter-header">
                            <span>$</span><span class="title counter">887</span><span class="title">M</span>
                        </h3>
                        <p>IN SECURE BIDS</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="counter-item">
                        <h3 class="counter-header">
                            <span class="title counter">63</span><span class="title">M</span>
                        </h3>
                        <p>ITEMS AUCTIONED</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="counter-item">
                        <h3 class="counter-header">
                            <span>0</span><span class="title counter">5</span><span class="title">K</span>
                        </h3>
                        <p>AUCTION EXPERTS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="overview-section padding-top">
        <div class="container mw-lg-100 p-lg-0">
            <div class="row m-0">
                <div class="col-lg-6 p-0">
                    <div class="overview-content">
                        <div class="section-header text-lg-left">
                            <h2 class="title">What can you expect?</h2>
                            <p>Voluptate aut blanditiis accusantium officiis expedita dolorem inventore odio reiciendis obcaecati quod nisi quae</p>
                        </div>
                        <div class="row mb--50">
                            <div class="col-sm-6">
                                <div class="expert-item">
                                    <div class="thumb">
                                        <img src="/img/about/overview-01.png" alt="overview">
                                    </div>
                                    <div class="content">
                                        <h6 class="title">Real-time Auction</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="expert-item">
                                    <div class="thumb">
                                        <img src="/img/about/overview-02.png" alt="overview">
                                    </div>
                                    <div class="content">
                                        <h6 class="title">Supports Multiple Currency</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="expert-item">
                                    <div class="thumb">
                                        <img src="/img/about/overview-03.png" alt="overview">
                                    </div>
                                    <div class="content">
                                        <h6 class="title">Winner Announcement</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="expert-item">
                                    <div class="thumb">
                                        <img src="/img/about/overview-04.png" alt="overview">
                                    </div>
                                    <div class="content">
                                        <h6 class="title">Supports Multiple Currency</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="expert-item">
                                    <div class="thumb">
                                        <img src="/img/about/overview-05.png" alt="overview">
                                    </div>
                                    <div class="content">
                                        <h6 class="title">Show all bidders history</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="expert-item">
                                    <div class="thumb">
                                        <img src="/img/about/overview-06.png" alt="overview">
                                    </div>
                                    <div class="content">
                                        <h6 class="title">Add to watchlist</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pl-30 pr-0">
                    <div class="w-100 h-100 bg_img" data-background="/img/about/overview-bg.png" style="background-image: url(&quot;/img/about/overview-bg.png&quot;);"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="call-in-section padding-top padding-bottom">
        <div class="container">
            <div class="call-wrapper cl-white bg_img" data-background="/img/about/call-bg.png" style="background-image: url(&quot;/img/about/call-bg.png&quot;);">
                <div class="section-header">
                    <h3 class="title">Register for Free &amp; Start Bidding Now!</h3>
                    <p>From cars to diamonds to iPhones, we have it all.</p>
                </div>
                <a href="#0" class="custom-button white">Register</a>
            </div>
        </div>
    </section>

    <section class="team-section section-bg padding-top padding-bottom">
        <div class="container">
            <div class="section-header">
                <h2 class="title">Meet the Management Team</h2>
                <p>Our team consists of passionate and talented individuals invested in your success.</p>
            </div>
            <div class="team-wrapper row justify-content-between">
                <div class="team-item">
                    <div class="team-inner">
                        <div class="team-thumb">
                            <a href="#0">
                                <img src="/img/about/teammate-01.png" alt="team">
                            </a>
                        </div>
                        <div class="team-content">
                            <h6 class="title"><a href="#0">Kent Quinn</a></h6>
                            <ul class="social">
                                <li>
                                    <a href="#0"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fa fa-github"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="team-inner">
                        <div class="team-thumb">
                            <a href="#0">
                                <img src="/img/about/teammate-02.png" alt="team">
                            </a>
                        </div>
                        <div class="team-content">
                            <h6 class="title"><a href="#0">Dustin Day</a></h6>
                            <ul class="social">
                                <li>
                                    <a href="#0"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fa fa-github"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="team-inner">
                        <div class="team-thumb">
                            <a href="#0">
                                <img src="/img/about/teammate-03.png" alt="team">
                            </a>
                        </div>
                        <div class="team-content">
                            <h6 class="title"><a href="#0">Antonia Little</a></h6>
                            <ul class="social">
                                <li>
                                    <a href="#0"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fa fa-github"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="team-inner">
                        <div class="team-thumb">
                            <a href="#0">
                                <img src="/img/about/teammate-04.png" alt="team">
                            </a>
                        </div>
                        <div class="team-content">
                            <h6 class="title"><a href="#0">Marie Wolfe</a></h6>
                            <ul class="social">
                                <li>
                                    <a href="#0"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fa fa-github"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{!-- <section class="client-section padding-top padding-bottom">
        <div class="container">
            <div class="section-header">
                <h2 class="title">Don’t just take our word for it!</h2>
                <p>Our hard work is paying off. Great reviews from amazing customers.</p>
            </div>
            <div class="m--15">
                <div class="client-slider owl-theme owl-carousel owl-loaded owl-drag">
                    
                    
                    
                <div class="owl-stage-outer owl-height" style="height: 251px;"><div class="owl-stage" style="transform: translate3d(-1600px, 0px, 0px); transition: all 0s ease 0s; width: 2880px;"><div class="owl-item cloned" style="width: 320px;"><div class="client-item">
                        <div class="client-content">
                            <p>I can't stop bidding! It's a great way to spend some time and I want everything on Sbidu.</p>
                        </div>
                        <div class="client-author">
                            <div class="thumb">
                                <a href="#0">
                                    <img src="/img/about/client-01.png" alt="client">
                                </a>
                            </div>
                            <div class="content">
                                <h6 class="title"><a href="#0">Alexis Moore</a></h6>
                                <div class="ratings">
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 320px;"><div class="client-item">
                        <div class="client-content">
                            <p>I came I saw I won. Love what I have won, and will try to win something else.</p>
                        </div>
                        <div class="client-author">
                            <div class="thumb">
                                <a href="#0">
                                    <img src="/img/about/client-02.png" alt="client">
                                </a>
                            </div>
                            <div class="content">
                                <h6 class="title"><a href="#0">Darin Griffin</a></h6>
                                <div class="ratings">
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 320px;"><div class="client-item">
                        <div class="client-content">
                            <p>This was my first time, but it was exciting. I will try it again. Thank you so much.</p>
                        </div>
                        <div class="client-author">
                            <div class="thumb">
                                <a href="#0">
                                    <img src="/img/about/client-03.png" alt="client">
                                </a>
                            </div>
                            <div class="content">
                                <h6 class="title"><a href="#0">Tom Powell</a></h6>
                                <div class="ratings">
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div></div><div class="owl-item" style="width: 320px;"><div class="client-item">
                        <div class="client-content">
                            <p>I can't stop bidding! It's a great way to spend some time and I want everything on Sbidu.</p>
                        </div>
                        <div class="client-author">
                            <div class="thumb">
                                <a href="#0">
                                    <img src="/img/about/client-01.png" alt="client">
                                </a>
                            </div>
                            <div class="content">
                                <h6 class="title"><a href="#0">Alexis Moore</a></h6>
                                <div class="ratings">
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div></div><div class="owl-item" style="width: 320px;"><div class="client-item">
                        <div class="client-content">
                            <p>I came I saw I won. Love what I have won, and will try to win something else.</p>
                        </div>
                        <div class="client-author">
                            <div class="thumb">
                                <a href="#0">
                                    <img src="/img/about/client-02.png" alt="client">
                                </a>
                            </div>
                            <div class="content">
                                <h6 class="title"><a href="#0">Darin Griffin</a></h6>
                                <div class="ratings">
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div></div><div class="owl-item active" style="width: 320px;"><div class="client-item">
                        <div class="client-content">
                            <p>This was my first time, but it was exciting. I will try it again. Thank you so much.</p>
                        </div>
                        <div class="client-author">
                            <div class="thumb">
                                <a href="#0">
                                    <img src="/img/about/client-03.png" alt="client">
                                </a>
                            </div>
                            <div class="content">
                                <h6 class="title"><a href="#0">Tom Powell</a></h6>
                                <div class="ratings">
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div></div><div class="owl-item cloned active" style="width: 320px;"><div class="client-item">
                        <div class="client-content">
                            <p>I can't stop bidding! It's a great way to spend some time and I want everything on Sbidu.</p>
                        </div>
                        <div class="client-author">
                            <div class="thumb">
                                <a href="#0">
                                    <img src="/img/about/client-01.png" alt="client">
                                </a>
                            </div>
                            <div class="content">
                                <h6 class="title"><a href="#0">Alexis Moore</a></h6>
                                <div class="ratings">
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div></div><div class="owl-item cloned active" style="width: 320px;"><div class="client-item">
                        <div class="client-content">
                            <p>I came I saw I won. Love what I have won, and will try to win something else.</p>
                        </div>
                        <div class="client-author">
                            <div class="thumb">
                                <a href="#0">
                                    <img src="/img/about/client-02.png" alt="client">
                                </a>
                            </div>
                            <div class="content">
                                <h6 class="title"><a href="#0">Darin Griffin</a></h6>
                                <div class="ratings">
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 320px;"><div class="client-item">
                        <div class="client-content">
                            <p>This was my first time, but it was exciting. I will try it again. Thank you so much.</p>
                        </div>
                        <div class="client-author">
                            <div class="thumb">
                                <a href="#0">
                                    <img src="/img/about/client-03.png" alt="client">
                                </a>
                            </div>
                            <div class="content">
                                <h6 class="title"><a href="#0">Tom Powell</a></h6>
                                <div class="ratings">
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots disabled"></div><div class="owl-thumbs"></div></div>
            </div>
        </div>
    </section> --}}