<section class="section-account">
    <div class="container">
        <div class="form-container account-container">
            <form action="" method="post">
                <h1>HI, THERE</h1>
                <span>you can log in to my web with</span>
                <div class="social-container">
                    <a href="/login/facebook" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="/login/google" class="social"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a href="/login/github" class="social"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
                <span>or use your account</span>
                <input name="resetEmail" type="email" placeholder="Enter your email" />
                <button type="submit">reset password</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <a href="/login"><button class="ghost" id="signUp">Sign In</button></a>
            </div>
        </div>
    </div>
</section>