<section class="section-account">
  <div class="container">
    <div class="form-container account-container">
      <form action="" method="post">
        <h1>HI, THERE</h1>
        <span>you can log in to my web with</span>
        <div class="social-container">
          <a href="/login/facebook" class="social"><i
              class="fa fa-facebook"
              aria-hidden="true"
            ></i></a>
          <a href="/login/google" class="social"><i
              class="fa fa-google-plus"
              aria-hidden="true"
            ></i></a>
          <a href="/login/github" class="social"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
        <span>or use your account</span>
        <input name="username" type="text" placeholder="Username" />
        <input name="password" type="password" placeholder="Password" />
        <a href="/forgetPass" style="color: blue;">Forgot password?</a>
        <button type="submit">Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details and start journey with us</p>
        <a href="/signup"><button class="ghost" id="signUp"> Sign up</button></a>
      </div>
    </div>
  </div>
</section>