<footer id="myFooter">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-12 col-sm-6 col-lg-4">
        <h5>Get started</h5>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Downloads</a></li>
          <li><a href="#">Sign up</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <h5>Get started</h5>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Downloads</a></li>
          <li><a href="#">Sign up</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <h5>Get started</h5>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Downloads</a></li>
          <li><a href="#">Sign up</a></li>
        </ul>
      </div>
    </div>

    <div class="row decorate">
      <div class="col"><a class="facebook" href="https://facebook.com/" target="_blank"><i
            class="fa fa-facebook"
          ></i></a><a class="twitter" href="https://twitter.com/" target="_blank"><i
            class="fa fa-twitter"
          ></i></a><a class="google" href="https://plus.google.com/" target="_blank"><i
            class="fa fa-google-plus"
          ></i></a><a class="linkedin" href="https://linkedin.com/" target="_blank"><i
            class="fa fa-linkedin"
          ></i></a></div>
    </div>
    <div class="row footer-copyright">
      <div class="col">
        <p>© 2021 Copyright Text <a href="#" target="_blank">MySelf</a></p>
      </div>
    </div>
  </div>
</footer>