<ul class="pagination align-items-center justify-content-center">
    <li>
        <a href="#0"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    </li>
    <li>
        <a href="#1" class="active">1</a>
    </li>
    <li>
        <a href="#2">2</a>
    </li>
    <li>
        <a href="#3">3</a>
    </li>
    <li>
        <a href="#4"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </li>
</ul>